%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{include_erts, false}.
{include_src, false}.
{vm_args, "./config/vm.args"}.
{sys_config, "./config/sys.config"}.
{release, {pljelixir, "0.0.2"}, [pljelixir,iex,exlager,l2elog,elixir_ale,crypto]}.
{lib_dirs, ["_build/prod"]}.

{overlay,[{copy,"_build/prod/consolidated","lib/consolidated"}]}.