%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{include_erts, false}.
{include_src, false}.
{vm_args, "./config/vm.args"}.
{sys_config, "./config/sys.config"}.
{release, {console, "0.0.1"}, [console,iex,exlager,l2elog]}.
{lib_dirs, ["_build/dev/lib/console/","_build/dev/lib/exlager"]}.
